@charset "utf-8";

/*
   Reset Style Sheet for the Pandaisia Chocolates Website
   Author:
   Date:

   Filename: pc_reset.css

*/

/* Structural Styles */
article, aside, figcaption, figure, footer, header, main, nav, section {
        display: block;
}



/* Typographic Styles */
